<!DOCTYPE html>
<!--
文档路径: docs\datatable.html
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>权限管理</title>
    <meta name="description" content="Initialized via remote ajax json data">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="table/bootstrap.min.css">
    <script src="table/jquery-1.10.2.min.js"></script>
    <script src="table/bootstrap.min.js"></script>
    <script src="scripts/permission_form.js"></script>
    <style>
        html{
            width:100%;
            overflow-x:hidden;
        }
    </style>
</head>
<body>
<div style="padding: 20px 20px;">
    <div class="m-portlet m-portlet--mobile ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <a href="index" class="m-nav__link m-nav__link--icon" id="returnIndex">
                            <i class="m-nav__link-icon la la-home" ></i>
                        </a>
                        <span style="font-size: 25px; margin-left:20px;">权限列表</span>
                    </h3>
                </div>
            </div>
        </div>
        <div style="float: left; margin-left: 60px; margin-top: 40px;">
          <span id="oneOrder" onclick="goUp()" style="cursor: pointer;"> 最高权限 </span>
          <span id="twoOrder" th:if="${pid}==2"><span> >> </span> <span th:text="${name}"></span> </span>
        </div>
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-1 order-xl-2 m--align-right" onclick="initFrom2()">
                        <a href="#addUserModal" data-toggle="modal" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span id="addUser" >添加权限</span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--begin: Datatable -->
            <div class="m_datatable" id="userTable">
                <input type="hidden" th:value="${type}" id="type">
                <input type="hidden" th:value="${pid}" id="pid">
            </div>
            <!--end: Datatable -->
        </div>
    </div>


</div>
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addUserModalTitle">
                    添加权限
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden"  id="id" name="id">
                    <label>权限名</label><span style="color:red">(*)</span>
                    <input type="text" class="form-control" id="name" placeholder="请输入权限名" name="name" value="">
                    <label>uri</label><span style="color:red">(*)</span>
                    <input type="text" class="form-control" id="uri" placeholder="请输入uri" name="uri">
                    <label>父权限</label>
	                     <select class="form-control" id="pid1" onchange="changePid(this)">
	                         <optgroup label="一级权限" >
	                             <option value="2" >最高权限</option>
	                         </optgroup>
	                         <optgroup label="二级权限">
	                             <option th:each="permission:${permissionList}"
	                                     th:value="${permission.id}"
	                                     th:selected="${permission.id}==${type}"
                                         th:text="${permission.name}">
                                 </option>
	                         </optgroup>
	                     </select>
                    <label>权限层级</label>
                    <input type="text" class="form-control" id="funcOrder" placeholder="请输入层级" name="funcOrder">
                    <label>权限描述</label>
                    <input type="text" class="form-control" id="description" placeholder="请输入权限描述" name="description">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addPermission()">
                    提交
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--begin::Global Theme Bundle -->
<script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->


</body>
<script th:inline="javascript">
    //加载表格
    var type=$("#type").val();
    var pid=$("#type").val();
    var DatatableRemoteAjaxDemo = {
        init: function () {
            //表格头
            var data = [{
                    field: 'id',
                    title: '权限编号',
                }, {
                    field: 'name',
                    title: '权限名',
                }, {
                    field: 'uri',
                    title: 'uri',
                }, {
                    field: 'pName',
                    title: '父权限',
                },{
                    field: 'funcOrder',
                    title: '权限层级',
                },{
                    field: 'description',
                    title: '权限描述',
                },{
                "field":"Actions",
                "width":110,
                "title":"操作",
                "template":function() {
                    return '<a href="#setRoleModal" onclick="getChild(this)" data-toggle="modal" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="查看下级"><i class="la la-pencil" ></i></a>'+
                        '<a href="#addUserModal" data-toggle="modal" onclick="updatePermission(this)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details"><i class="la la-edit"></i></a>'+
                        '<a href="#" onclick="deletePermission(this)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete"><i class="la la-trash"></i></a>';
                }
            }
            ];
            var t;
            t = $("#userTable").mDatatable({
                data: {
                    type: "remote",
                    source: {
                        read: {
                            url: "/openticket/getChildPermission?type="+type,
                            map: function (t) {
                                var e = t;
                                return void 0 !== t.data && (e = t.data),
                                    e
                            }
                        }
                    },
                    pageSize: 10,
                    serverPaging: !0,
                    serverFiltering: !0,
                    serverSorting: !0
                },
                layout: {
                    scroll: !1,
                    footer: !1
                },
                sortable: !0,
                pagination: !0,
                toolbar: {
                    items: {
                        pagination: {
                            pageSizeSelect: [10, 20, 30, 50, 100]
                        }
                    }
                },
                search: {
                    input: $("#generalSearch")
                },
                columns: data
            }),
                $("#m_form_status").on("change",
                    function () {
                        t.search($(this).val(), "Status")
                    }),
                $("#m_form_type").on("change",
                    function () {
                        t.search($(this).val(), "Type")
                    }),
                $("#m_form_status, #m_form_type").selectpicker()

        }
    };
    function goUp(){
        window.location.href="/openticket/permission?id=2";
    }
    function getChild(obj){
      type = $(obj).parents("tr").find("td").eq(0).text();
      if(pid!=2&&pid!=0){
        alert("已经是最后一级权限");
        return;
      }
      window.location.href="/openticket/permission?id="+type;
    }
    jQuery(document).ready(function () {
        DatatableRemoteAjaxDemo.init();
    });
</script>

</html>