<!DOCTYPE html>
<!--
文档路径: docs\datatable.html
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>角色管理</title>
    <meta name="description" content="Initialized via remote ajax json data">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="table/bootstrap.min.css">
    <script src="table/jquery-1.10.2.min.js"></script>
    <script src="table/bootstrap.min.js"></script>
    <style>
        html{
            width:100%;
            overflow-x:hidden;
        }
    </style>
</head>
<body>
<div style="padding: 20px 20px;">
    <div class="m-portlet m-portlet--mobile ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <a href="index" class="m-nav__link m-nav__link--icon" id="returnIndex">
                            <i class="m-nav__link-icon la la-home" ></i>
                        </a>
                        <span style="font-size: 25px; margin-left:20px;">角色列表</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-1 order-xl-2 m--align-right">
                        <a href="#addRoleModal" data-toggle="modal" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span id="addUser" >添加角色</span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--begin: Datatable -->
            <div class="m_datatable" id="roleTable">

            </div>
            <!--end: Datatable -->
        </div>
    </div>


</div>
<!-- 添加角色模态框（Modal） -->
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addRoleModalTitle">
                    添加角色
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" id="addRoleForm">
                    <label>角色名称</label><span style="color:red">(*)</span>
                    <input type="text" class="form-control" id="roleName" placeholder="请输入" name="name">
                    <label>角色类型</label><span style="color:red">(*)</span>
                    <select class="form-control" id="roleTypeId"  name="roleTypeId">
                        <option value ="1">超级管理员</option>
                        <option value ="2">团队负责人</option>
                        <option value ="3">开发</option>
                    </select>
                    <label>角色描述</label>
                    <input type="text" class="form-control" id="description" placeholder="请输入" name="description">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addRole()">
                    提交
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 编辑角色-->
<div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="updateRoleModalTitle">
                    编辑角色
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" id="updateRoleForm">
                    <input type="index" id="u_id" name="id" hidden>
                    <label>角色名称</label><span style="color:red">(*)</span>
                    <input type="text" class="form-control" id="u_name" placeholder="请输入" name="name">
                    <label>角色类型</label><span style="color:red">(*)</span>
                    <select class="form-control" id="u_roleTypeId"  name="roleTypeId">
                        <option value ="1">超级管理员</option>
                        <option value ="2">团队负责人</option>
                        <option value ="3">开发</option>
                    </select>
                    <label>角色描述</label>
                    <input type="text" class="form-control" id="u_description" placeholder="请输入" name="description">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateRole()">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 设置权限-->
<div class="modal fade" id="setPermissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="setPermissionModalTitle">
                    角色权限
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" id="setPermissionForm">
                    <label>当前角色:</label><span id="s_role_name">角色1</span><br/>
                    <label>拥有权限:</label>
                    <div id="permissionDiv">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--begin::Global Theme Bundle -->
<script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->
<script src="scripts/role_form.js" type="text/javascript"></script>

</body>

</html>